db-class/DTD_Exercises/countries.dtd

<!ELEMENT countries (country*)>
<!ELEMENT country (city*,language*)>
<!ATTLIST country name CDATA #REQUIRED>
<!ATTLIST country population CDATA #IMPLIED>
<!ATTLIST country area CDATA #IMPLIED>
<!ELEMENT city (name?,population?)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT population (#PCDATA)>
<!ELEMENT language (#PCDATA)>
<!ATTLIST language percentage CDATA #REQUIRED>